* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* COLORS and FONTS */
body {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 3;
}

/* Added header styling and navigation styling  */

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: slategray;
}

.header h1 {
    display: inline-block;
    float: left;
    text-indent: 1em;
    font-size: 48px;
}


.header nav {
    padding-top: 75px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header ul {
    list-style-type: none;

}

.header nav a {
    color: white;
    font-size: 120%;
    display: inline-block;
    margin-left: 25px;
    text-decoration: solid underline  #498ab0 4px;
    text-underline-offset: 25%;
}
/* Style for paragraph content  */
p {
    font-size: 16px;
    color: #5b6483;
    text-indent: 1em;
}

/* Added a hero section  */

hero {
    background-color: rgb(24, 67, 105);
    background-image: url("images/Header.png");
    min-height: 20vh;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Added a container to apply columns for a flex layout */

  .container, 
  .content {
      display: flex;
      flex-direction: column;
  }


/* This section is for the labeling of the main content section  */
.left-sidebar {
    background: rgb(22, 22, 22);
    font-size: 36px;
}

/* Added main for main content section  */

main {
    background: rgb(22, 22, 22);
}

/* Put contact information in footer section  */
footer {
    background-image: url("images/Header.png");
}

/* left-side bar about me label for about me section  */

.about-me {
    color: #485175;
    border-right: 4px solid rgb(56, 158, 192);
    height: 250px;
    margin-bottom: 1em;
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;


}
/* left-side bar work label for work section  */
.work {
    color: #485175;
    border-right: 4px solid rgb(56, 158, 192);
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
    height: 200px;
    padding-right: 20px;

}
/* left-side bar contact-me label for contact-me section  */
.contact-me {
    color: #485175;
    border-right: 4px solid rgb(56, 158, 192);
    font-weight: bold;
    text-align: right;
    margin-bottom: 1em;
    padding-right: 20px;
}

/* main section for about me content  */

.about-me-content {
    color: #485175;
    text-align: left;
    font-family: Times, serif;
    font-size: 15px;
    margin-top: 20px;
    
}
/* main section for work content  */

.work-content {
    text-align: left; 
}

/* Styling to for work-content images to link to projects  */

.work-content img {
    max-height: 200px;
    padding: 5px;
    align-content: center;
    margin-top: 100px;
}


/* main section for contact-me content  */

.contact-me-content {
    text-align: left; 
    text-underline-offset: 25%;
    padding-top: 10px;
}
/* Styling for contact-me links */
.contact-me-content a {
    padding-right: 80px;
    padding-left: 20px;
    color: #a4afdb;
    font-size: 20px;
    text-decoration: solid underline  #2891cd 4px;
}
a:hover {
    color: rgb(74, 50, 160);
  }


/* Flex styling  */


@media all and (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .left-sidebar {
        order: 1;
        flex: 1;
    }

    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }
}
